body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  background: url('../images/patternb1.png');
}

.footer {
  height: 50px; 
  background-color: #000000; 
  bottom:0; 
  color:#FFF; 
  text-align: center;
  
  width:100%;
}

header{
  height: auto;
  background: #000000;
  width:100%;
}

section {
  height:100%;
}

#right {
  /*display: none;*/
}

#right  {
  right:0;
  float: right;
  width: 50%;
  background: MintCream;
  /*overflow:scroll;*/
  min-height: 0;
  height: 100%;
  /*transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: linear;*/
}

.removeborders{
  border: none;
}

#_prntpass {
  visibility: hidden;
}

#main {
  float: left;
  left: 0;
  width: 50%;
  height: 100%;
  flex-grow: 1;
}

#_profile {
  display: none;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

/*#right:hover
{
    width:240px;
}

#right:unhover{
    width:120px;
}*/

input {
    border-radius: 10px;
	border-color: DarkCyan;
	border-style:solid;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
	background-color:transparent;
}

select{
  border-radius: 10px;
	border-color: DarkCyan;
	border-style:solid;
    float: right;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
	background-color:transparent;
}

input.radiogroup0{
  border-radius: 10px;
  border-color: DarkCyan;
  border-style:solid;
  background-color: transparent;
  width: auto;
}

#span0, #span1, #span2, #span3, #span4{
  float: left; width: 100%;
    color: red;
    border-radius: 5px; 
	border: none;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
}

#join, #join1{
    float: left; width: 100%;
    margin-top:20px;
}

#_fbsgn{
     width:100%;
     overflow: hidden;
     margin-top:0px;
    margin-right:auto;
    margin-left:auto;
       background:rgb(139,157,195);
     border-radius: 10px;
	border-color: rgb(139,157,195);
	border-style:solid;
  color: white;
}

#_twitsgn{
     width:100%;
     overflow: hidden;
     margin-top:0px;
    margin-right:auto;
    margin-left:auto;
       background:rgb(29,161,242);
     border-radius: 10px;
	border-color: rgb(29,161,242);
	border-style:solid;
        color: white;
}

.input_error {
   color:red;
	border-color:red;
}


table.roundedCorners { 
  border: 1px solid DarkOrange;
  border-radius: 13px; 
  border-spacing: 0;
 }

table.roundedCorners td, 
table.roundedCorners th { 
  border-bottom: 1px solid DarkOrange;
  padding: 10px; 
 }
 
table.roundedCorners tr:last-child > td {
  border-bottom: none;
}

#_profile thead tr
{
	background: url('../images/pattern-head.png');
}
#_profile th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #039;
}
#_profile td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#_profile tbody tr:hover td
{
	color: #339;
	background: #fff;
}

ul {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: Yellow;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
