body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.footer {
  height: 50px; 
  background-color: #000000; 
  bottom:0; 
  color:#FFF; 
  text-align: center;
  
  width:100%;
}

header{
  height: 80px;
  background: #000000;
  width:100%;
}

section {
  height:100%;
}

#right {
  /*display: none;*/
}

#right  {
  right:0;
  float: right;
  width: 200px;
  background: MintCream;
  overflow:scroll;
  min-height: 0;
  height: 100%;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.removeborders{
  border: none;
}

#_prntpass {
  visibility: hidden;
}

#main {
  float: left;
  left: 0;
  width: inherit;
  height: 100%;
  flex-grow: 1;
}

#_profile {
  display: none;
  font-size: 12px;
  margin: 45px;
  width: 480px;
  text-align: left;
  border-collapse: collapse;
  background: url('../images/patternb1.png');
}

#right:hover
{
    width:240px;
}

#right:unhover{
    width:120px;
}

input {
    border-radius: 10px;
	border-color: DarkCyan;
	border-style:solid;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
	background-color:transparent;
}

select{
  border-radius: 10px;
	border-color: DarkCyan;
	border-style:solid;
    float: right;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
	background-color:transparent;
}

#span0, #span1, #span2{
  float: left; width: 100%;
    color: red;
    border-radius: 5px; 
	border: none;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
}

#join, #join1{
    float: left; width: 100%;
    background-color: transparent;
    border-radius: 20px; 
	border-color: Maroon;
    border-style: ridge;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
}

.input_error {
   color:red;
	border-color:red;
}


table.roundedCorners { 
  border: 1px solid DarkOrange;
  border-radius: 13px; 
  border-spacing: 0;
 }

table.roundedCorners td, 
table.roundedCorners th { 
  border-bottom: 1px solid DarkOrange;
  padding: 10px; 
 }
 
table.roundedCorners tr:last-child > td {
  border-bottom: none;
}

#_profile thead tr
{
	background: url('../images/pattern-head.png');
}
#_profile th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #039;
}
#_profile td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#_profile tbody tr:hover td
{
	color: #339;
	background: #fff;
}
